<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" (submit)="isEditMode ? updateRecord($event) : onSubmit($event)">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Select Company <span class="text-danger">*</span></label>
              <ng-select
                [items]="companies"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.company_id"
                name="company_id"
                placeholder="Select one"
                [searchable]="true"
                (change)="clearError('company_id')"
                [ngModelOptions]="{standalone: false}">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.company_id">
                {{ formErrors.company_id[0] }}
              </div>
            </div>
            
            <div class="col-md-3 mb-3">
              <label class="form-label">First Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="first_name" [(ngModel)]="currentRecord.first_name" (ngModelChange)="clearError('first_name')">
              <div class="text-danger mt-1" *ngIf="formErrors.first_name">{{ formErrors.first_name[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" name="last_name" [(ngModel)]="currentRecord.last_name" (ngModelChange)="clearError('last_name')">
              <div class="text-danger mt-1" *ngIf="formErrors.last_name">{{ formErrors.last_name[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="currentRecord.username" (ngModelChange)="clearError('username')">
              <div class="text-danger mt-1" *ngIf="formErrors.username">{{ formErrors.username[0] }}</div>
            </div>

            <div class="col-md-3 mb-3">
              <label class="form-label">Email Address <span class="text-danger">*</span></label>
              <input type="email" class="form-control" name="email" [(ngModel)]="currentRecord.email" (ngModelChange)="clearError('email')">
              <div class="text-danger mt-1" *ngIf="formErrors.email">{{ formErrors.email[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Phone Number</label>
              <input type="text" class="form-control" name="phone_number" [(ngModel)]="currentRecord.phone_number" (ngModelChange)="clearError('phone_number')">
              <div class="text-danger mt-1" *ngIf="formErrors.phone_number">{{ formErrors.phone_number[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Date of Birth</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="date_of_birth" ngbDatepicker #dob="ngbDatepicker" [(ngModel)]="currentRecord.date_of_birth" (ngModelChange)="clearError('date_of_birth')">
                <button class="input-group-text" type="button" (click)="dob.toggle()">
                  <i class="feather icon-calendar icon-md text-secondary"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="formErrors.date_of_birth">{{ formErrors.date_of_birth[0] }}</div>
            </div>
            
            <div class="col-md-3 mb-3">
              <label class="form-label">Select City</label>
              <ng-select
                [items]="cities"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.city_id"
                name="city_id"
                placeholder="Select one"
                [searchable]="true"
                (change)="clearError('city_id')">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.city_id">{{ formErrors.city_id[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Select Gender <span class="text-danger">*</span></label>
              <ng-select
                [items]="gender"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.gender"
                name="gender"
                placeholder="Select one"
                [searchable]="false"
                (change)="clearError('gender')">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.gender">{{ formErrors.gender[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Purchase Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="purchase_date" ngbDatepicker #purchase_date="ngbDatepicker" [(ngModel)]="currentRecord.purchase_date" (ngModelChange)="clearError('purchase_date')">
                <button class="input-group-text" type="button" (click)="purchase_date.toggle()">
                  <i class="feather icon-calendar icon-md text-secondary"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="formErrors.purchase_date">{{ formErrors.purchase_date[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Refer By</label>
              <input type="text" class="form-control" name="refer_by" [(ngModel)]="currentRecord.refer_by" (ngModelChange)="clearError('refer_by')">
              <div class="text-danger mt-1" *ngIf="formErrors.refer_by">{{ formErrors.refer_by[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Refer Amount</label>
              <input type="text" class="form-control" name="refer_amount" [(ngModel)]="currentRecord.refer_amount" (ngModelChange)="clearError('refer_amount')">
              <div class="text-danger mt-1" *ngIf="formErrors.refer_by">{{ formErrors.refer_amount[0] }}</div>
            </div>
        
            <div class="col-md-3 mb-3">
              <label class="form-label">Select Status <span class="text-danger">*</span></label>
              <ng-select
                [items]="status"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.status"
                name="status"
                placeholder="Select one"
                [searchable]="false"
                (change)="clearError('status')">
              </ng-select>
              <div class="text-danger mt-1" *ngIf="formErrors.status">{{ formErrors.status[0] }}</div>
            </div>
        
            <div class="col-md-12 mb-3">
              <label class="form-label">Address</label>
              <textarea class="form-control" name="address" rows="3" [(ngModel)]="currentRecord.address" (ngModelChange)="clearError('address')"></textarea>
              <div class="text-danger mt-1" *ngIf="formErrors.address">{{ formErrors.address[0] }}</div>
            </div>

            <div class="col-md-12 mb-3">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th [width]="30">#</th>
                      <th [width]="30">
                        <input
                          type="checkbox"
                          [checked]="selected.length > 0 && selected.length === itemsList.length - 1"
                          (change)="selectAll($event)"
                        />
                      </th>
                      <th>Subscription Start</th>
                      <th>Subscription End</th>
                      <th>Service Charges</th>
                      <th>Discount</th>
                      <th>Payment Method</th>
                      <th>Description</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of itemsList; let i = index">
                      <tr *ngIf="i >= 0">
                        <th>{{ i + 1 }}</th>
                        <td>
                          <input
                            type="checkbox"
                            name="company_asset_detail_id"
                            [checked]="isSelected(i)"
                            (change)="toggleSelection(i)"
                            [value]="item.id"
                          />
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control"
                              placeholder="yyyy-mm-dd"
                              [(ngModel)]="itemsList[i].subscribe_start"
                              name="subscribe_start_{{i}}"
                              [container]="'body'"
                              ngbDatepicker
                              #d1="ngbDatepicker"
                            />
                            <button class="input-group-text" type="button" (click)="d1.toggle()">
                              <i class="feather icon-calendar"></i>
                            </button>
                          </div>
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control"
                              placeholder="yyyy-mm-dd"
                              [(ngModel)]="itemsList[i].subscribe_end"
                              name="subscribe_end_{{i}}"
                              [container]="'body'"
                              ngbDatepicker
                              #d2="ngbDatepicker"
                            />
                            <button class="input-group-text" type="button" (click)="d2.toggle()">
                              <i class="feather icon-calendar"></i>
                            </button>
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control" name="service_charges_{{ i }}" [(ngModel)]="itemsList[i].service_charges" (ngModelChange)="clearItemError(i, 'service_charges')">
                          <div class="text-danger mt-1" *ngIf="formErrors['items.' + i + '.service_charges']">
                            {{ formErrors['items.' + i + '.service_charges'][0] }}
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control" name="discount_{{ i }}" [(ngModel)]="itemsList[i].discount" (ngModelChange)="clearItemError(i, 'discount')">
                          <div class="text-danger mt-1" *ngIf="formErrors['items.' + i + '.discount']">
                            {{ formErrors['items.' + i + '.discount'][0] }}
                          </div>
                        </td>
                        <td>
                          <ng-select
                            [items]="payment_method"
                            bindLabel="name"
                            bindValue="id"
                            [(ngModel)]="itemsList[i].payment_method"
                            name="payment_method_{{i}}"
                            placeholder="Select one"
                            [searchable]="false"
                            [appendTo]="'body'"
                            (change)="clearItemError(i, 'payment_method')">
                          </ng-select>
                          <div class="text-danger mt-1" *ngIf="formErrors.payment_method">{{ formErrors.payment_method[0] }}</div>
                        </td>
                        <td>
                          <textarea
                            class="form-control"
                            name="reason_{{ i }}"
                            rows="2"
                            [(ngModel)]="itemsList[i].reason"
                            (ngModelChange)="clearItemError(i, 'reason')"
                            [ngModelOptions]="{ standalone: true }"
                          ></textarea>
                          <div class="text-danger mt-1" *ngIf="formErrors['items.' + i + '.reason']">
                            {{ formErrors['items.' + i + '.reason'][0] }}
                          </div>
                        </td>
                        <td>
                          <ng-select
                            [items]="subscription_status"
                            bindLabel="name"
                            bindValue="id"
                            [(ngModel)]="itemsList[i].subscription_status"
                            name="subscription_status_{{i}}"
                            placeholder="Select one"
                            [searchable]="false"
                            [appendTo]="'body'"
                            (change)="clearError('subscription_status')">
                          </ng-select>
                          <div class="text-danger mt-1" *ngIf="formErrors.subscription_status">{{ formErrors.subscription_status[0] }}</div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                
                <div class="col-md-4 mt-3 d-flex gap-2">
                  <button class="btn btn-success btn-xs" type="button" (click)="addItemRow()">
                    Add Row
                  </button>
                  <button class="btn btn-danger btn-xs" type="button" (click)="deleteSelectedRows()" [disabled]="selectedRows.length === 0">
                    Delete Row
                  </button>
                </div>                
              </div>
            </div>
        
            <!-- Form Actions -->
            <div class="col-12 mt-3">
              <button type="submit" [disabled]="isLoading" class="btn btn-primary">Save Changing</button>
            </div>

            <div class="col-12 mt-3" *ngIf="globalErrorMessage">
              <div class="alert alert-danger text-center">
                {{ globalErrorMessage }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>