.action-btn {
    width: 30px;
    height: 30px;
    line-height: 27px;
    border-radius:50%;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding:0;
}

label.form-label,
.datatable-header-cell-label {
    font-weight: 500;
}

[readonly] {
    background-color: var(--bs-secondary-bg);
    pointer-events: none;
}

.fc-disabled-day {
    background-color: #f8f9fa !important;
    opacity: 0.6;
    pointer-events: none;
}

.fc-disabled-day a {
    color: #adb5bd !important;
}
  
.view-table tr td:first-child {
    font-weight: 500;
}

.card-body-inner {
    position: relative;
    padding-left: 70px;
}

.dash-icon i {
    display: inline-block;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.auth-page img.logo-mini {
  height: 76px;
  width: auto;
  margin-bottom: 30px;
}

[data-bs-theme=dark] .sidebar-header .logo-mini-wrapper .logo-mini.logo-mini-light,
[data-bs-theme=dark] .auth-page .logo-mini-wrapper .logo-mini.logo-mini-light {
  display: none;
}
[data-bs-theme=light] .sidebar-header .logo-mini-wrapper .logo-mini.logo-mini-dark,
[data-bs-theme=light] .auth-page .logo-mini-wrapper .logo-mini.logo-mini-dark {
  display: none;
}

.table th, .table td {
    vertical-align: middle;
}

.custom-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; /* optional */
}

.splash-screen .logo {
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 767px){
  .navbar .logo-mini-wrapper .logo-mini {
    width: 100px;
    height: auto;
  }
}
