<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
          <div>
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Type to filter the name column..."
              (keyup)="updateFilter($event)"
              style="width: 250px;"
            />
          </div>
          <div class="gap-4">
            <button type="button" class="btn btn-danger btn-sm me-2" [disabled]="selected.length === 0" (click)="deleteSelectedRecords()">
              Delete
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="openModal()">
              + Add New
            </button>
          </div>
        </div>
        
        <div class="table-responsive">
          <ngx-datatable
            #table
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="20"
            rowHeight="auto"
            [scrollbarH]="true"
          >
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-header-template>
                <input type="checkbox" [checked]="selected.length === rows.length" (change)="selectAll($event)" />
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <input type="checkbox" [checked]="isSelected(row)" (change)="toggleSelection(row)" />
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Title">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.title }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Description">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.description }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Start Date">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.start_date }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="End Date">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.end_date }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Status" [width]="100" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span [ngClass]="row.status == 'Active' ? 'badge bg-success text-white' : 'badge bg-danger text-white'">
                  {{ row.status }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Created By" [width]="150" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div>
                  {{ row.created_by }}
                  <br />
                  <small>{{ row.created_at | date:'yyyy-MM-dd' }}</small>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [sortable]="false" [width]="120" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span class="d-flex align-items-center">
                  <button class="btn btn-warning me-1 action-btn" (click)="editRecord(row)">
                    <i class="feather icon-edit"></i>
                  </button>
                  
                  <button class="btn btn-danger me-1 action-btn" (click)="deleteRecord(row)">
                    <i class="feather icon-trash-2"></i>
                  </button>
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ isEditMode ? 'Edit Record' : 'Add New Record' }}</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form class="forms-sample" (submit)="onSubmit($event)">
      <div class="mb-3">
        <label class="form-label">Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" name="title" [(ngModel)]="currentRecord.title" (input)="clearError('title')">
        <div class="text-danger mt-1" *ngIf="formErrors.title">
          {{ formErrors.title[0] }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description <span class="text-danger">*</span></label>
        <textarea class="form-control" name="description" [(ngModel)]="currentRecord.description" (input)="clearError('description')"></textarea>
        <div class="text-danger mt-1" *ngIf="formErrors.description">
          {{ formErrors.description[0] }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">End Date</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="end_date" ngbDatepicker #end_date="ngbDatepicker" [(ngModel)]="currentRecord.end_date" (ngModelChange)="clearError('end_date')">
          <button class="input-group-text" type="button" (click)="end_date.toggle()">
            <i class="feather icon-calendar icon-md text-secondary"></i>
          </button>
        </div>
        <div class="text-danger mt-1" *ngIf="formErrors.end_date">{{ formErrors.end_date[0] }}</div>
      </div>
    
      <div class="mb-3">
        <label class="form-label">Status <span class="text-danger">*</span></label>
        <ng-select
          [items]="status"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="currentRecord.status"
          name="status"
          placeholder="Select one"
          [searchable]="false"
          (change)="clearError('status')">
        </ng-select>
        <div class="text-danger mt-1" *ngIf="formErrors.status">
          {{ formErrors.status[0] }}
        </div>
      </div>
    
      <button type="submit" class="btn btn-primary me-2">Save Changes</button>
    </form>
  </div>
</ng-template>